<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Splunk.Client" version="2.2.2" targetFramework="net45" />
  <package id="Splunk.ModularInputs" version="2.2.2" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net45" />
</packages>