<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="aaLogElasticFileBeat.aaLogElasticFileBeatSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="aaLogElasticFileBeat.aaLogElasticFileBeat" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <aaLogElasticFileBeat.aaLogElasticFileBeatSettings>
            <setting name="Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FileBeat_Binary_Location" serializeAs="String">
                <value>C:\Program Files\filebeat\filebeat.exe</value>
            </setting>
            <setting name="FileBeat_ConfigFile_Location" serializeAs="String">
                <value>C:\Program Files\filebeat\filebeat.yml</value>
            </setting>
        </aaLogElasticFileBeat.aaLogElasticFileBeatSettings>
        <aaLogElasticFileBeat.aaLogElasticFileBeat>
            <setting name="Interval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FileBeat_Binary_Location" serializeAs="String">
                <value />
            </setting>
        </aaLogElasticFileBeat.aaLogElasticFileBeat>
    </applicationSettings>
</configuration>